@import url(__header/modal__header.css);
@import url(__text/modal__text.css);
@import url(__input-block/modal__input-block.css);
@import url(__input/modal__input.css);
@import url(__dropdown/modal__dropdown.css);
@import url(__dropdown-menu/modal__dropdown-menu.css);
@import url(__dropdown-shevron/modal__dropdown-shevron.css);
@import url(__dropdown-select/modal__dropdown-select.css);

.modal {
    background-color: #ffffff;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 24px;
}
